<div class="jumbotron">
    <div class="container">
        <h1>
            <b>My Fall Blog</b>
        </h1>
    </div>
</div>

<!-- Matt was here -->

<div class="container">
    <div class="welcome">
        <h2 style="color: #343409;">Welcome
            <%= current_user.username if current_user != nil %>!
        </h2>

        <div>
            <%= link_to 'Post Something', new_post_path, class: "btn btn-tertiary" %>
            <%= paginate @posts %>
        </div>
    </div>
    <div class="panel-group">
        <% @posts.each do |post| %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-left">
                        <% if post.user.avatar? %>
                            <td>
                                <%= image_tag post.user.avatar.url, size: 50, class: "img-circle" %>
                            </td>
                        <% else %>
                            <td>
                                <%= image_tag "Default-avatar.png", size: 50, class: "img-circle" %>
                            </td>
                        <% end %>
                        <strong><%= link_to post.user.username, user_posts_path(name: post.user.username) %></strong>
                    </div>
                </div>
                <div class="panel-body">
                    <%= post.blog_entry.html_safe %>
                    <% if post.avatar.url != nil %>
                        <%= image_tag post.avatar.url, style: "width: 200px;" %>
                    <% end %>
                </div>
                <div class="panel-footer">
                    <div class="pull-right">
                        Posted at
                        <%= post.created_at.in_time_zone("America/New_York").strftime("%I:%M%p on %m-%d-%Y") %>
                    </div>
                    <div class="pull-left">
                        <%= link_to 'Show', post, class: 'btn btn-primary' %>
                        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-secondary' %>
                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-tertiary' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <br>

    <% if @posts.blank? %>
        <h4>There are no posts containing the term
            <%= params[:search] %>.</h4>
    <% end %>
</div>
<p id="notice"><%= notice %></p>
