<style>
    .block {
        width: 100px;
        height: 100px;
        background-color: <%= @color %>;
    }
</style>

<h1>You picked <%= @color %></h1>

<div class="block"></div>

<%= form_tag index_path do %>
    <p><%= text_field_tag :name, nil, placeholder: "What's your name?" %></p>
    <p><%= submit_tag :submit %></p>
<% end %>
