<!DOCTYPE html>
<html>
    <head>
        <title>TechTalentBlog</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

    <% if request.fullpath != "/users/sign_in" && request.fullpath != "/users/sign_up"  && request.fullpath != "/users"%>
        <nav class="navbar navbar-light">
            <%= link_to "Fall Blog", root_path, class: "navbar-brand" %>

            <form class="form-inline my-2 my-lg-0">
                <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control mr-sm-2", style: "background-color: #F7E9D4;" %>
                    <%= submit_tag "Search", :name => nil, class: "btn btn-secondary my-2 my-sm-0" %>
                <% end %>
            </form>

            <div class="right">
                <% if user_signed_in? %>
                    <!-- <%= gravatar_tag current_user.email, size: 50 %> -->
                    <% if current_user.avatar? %>
                        <td>
                            <%= image_tag current_user.avatar.url, size: 50, class: "img-circle" %>
                        </td>
                    <% else %>
                        <td>
                            <%= image_tag "Default-avatar.png", size: 50, class: "img-circle" %>
                        </td>
                    <% end %>
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-secondary" %>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
                <% end %>
            </div>
        </nav>
    <% end %>

    <%= yield %>
</body>
</html>
